.gitignore

/.esphome/
/assets/fonts/*.ttf
/assets/*.png

/secrets.yaml
*.txt
*.url
~*
.*

/custom_components/*
!/boards/.esphome.yaml

*.code-workspace

**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini