substitutions:
  system_name: hot_tub_water
  friendly_name: Esph Hot Tub

esphome:
  name: "esph_${system_name}"
  platform: ESP32
  board: pico32

wifi:
  ssid: !secret wifi_vlan1_ssid
  password: !secret wifi_vlan1_password
  fast_connect: true
  ap:
    ssid: "${friendly_name} AP"
    password: !secret fallback_ssid_password

captive_portal:

logger:
  level: VERY_VERBOSE

api:
  password: !secret api_password

ota:
  password: !secret ota_password

dallas:
  - pin: GPIO21
  
text_sensor:

  - platform: version
    name: "esph_${system_name}_version"

sensor:

  - platform: wifi_signal
    name: "esph_${system_name}_wifi_signal"
    update_interval: 30s

  - platform: uptime
    name: "esph_${system_name}_uptime"
    update_interval: 60s

  # https://github.com/jcallaghan/esphome-config/issues/1
  - platform: dallas
    address: 0x770316457608FF28
    name: "${system_name}_temperature"

 # https://github.com/jcallaghan/esphome-config/issues/4
  - platform: adc
    pin: GPIO34
    name: "esph_${system_name}_tds"
    update_interval: 10s
    unit_of_measurement: "ppm"
    icon: "mdi:water-percent"
    filters:
      - lambda: return (133.42*x*x*x - 255.86*x*x + 857.39*x)*0.5;
    attenuation: 2.5db  
    
  # https://github.com/jcallaghan/esphome-config/issues/6
  - platform: adc
    pin: GPIO34
    name: "esph_${system_name}_tds_volts"
    update_interval: 10s
    unit_of_measurement: "v"
    icon: "mdi:water-percent"
    filters:
      - sliding_window_moving_average:
          window_size: 6
          send_every: 6  
    attenuation: 2.5db   
    
  # https://github.com/jcallaghan/esphome-config/issues/6
  - platform: adc
    pin: GPIO32
    name: "esph_${system_name}_ph"
    update_interval: 10s
    unit_of_measurement: "pH"
    icon: "mdi:water-percent"
    filters:
      - lambda: return (3.5 * x);
      - sliding_window_moving_average:
          window_size: 12
          send_every: 12    
    attenuation: 11db

  # https://github.com/jcallaghan/esphome-config/issues/4
  - platform: adc
    pin: GPIO32
    name: "esph_${system_name}_ph_volts"
    update_interval: 10s
    unit_of_measurement: "v"
    icon: "mdi:water-percent"
    filters:
      - sliding_window_moving_average:
          window_size: 6
          send_every: 6     
    attenuation: 11db
